.cart__picture {
  min-width: 250px;
  height: 250px;
}

.cart__img-wrap {
  position: relative;
  width: 100%;
  max-width: 200px;
  height: 100%;
  max-height: 200px;
  overflow: hidden;
}

.cart__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cart__product-name {
  min-width: 250px;
  color: #343a40;

  &:hover {
    color: #343a40;
    text-decoration: none;
    opacity: .75;
  }
}

.cart__price {
  min-width: 90px;
}

.cart__old-price {
  font-size: .9rem;
}

.cart__qty {
  min-width: 150px;
  height: 20px;
}

.cart__amount {
  min-width: 105px;
  font-size: 1.3rem;
}

.cart__total-position-old-price,
.cart__total-shipping-old-price,
.cart__position-old-price-figures,
.cart__total-price-old-price {
  text-decoration: line-through;
}

.cart__total-price {
  font-size: 1.2rem;

  @media (min-width: 577px) {
    font-size: 1.5rem;
  }
}
.cart__item .cart__total-price {
  min-width: 120px;
}
