
{% set isSale = obProduct.sale is not empty ? 'text-danger' : '' %}
<div class="mb-4">
  <div class="product-card card shadow" data-id="{{ obProduct.id }}">
    <a class="product-card__link product-card__link_img" href="{{ obProduct.productLink }}">
        <img class="product-card__img card-img-top" src="{{ obProduct.imagePath }}" alt="{{ obProduct.title }}">
    </a>
    <div class="card-body product-card__body">
        <a class="product-card__title-category text-black-50" href="{{ obProduct.categoryLink }}">
            <u><h3 class="card-title product-card__category-title mb-2">{{ obProduct.category }}</h3></u>
        </a>
        <a class="product-card__link" href="{{ obProduct.productLink }}">
            <h3 class="card-title product-card__title text-dark font-weight-bold">{{ obProduct.name }}</h3>
        </a>
        <div class="product-card__price-bar">
            <span class="product-card__current-price pr-2 font-weight-bold {{ isSale }}">
                {{ obProduct.currentPrice }}  {{ obProduct.currency }}
            </span>
            <span class="product-card__old-price text-muted pr-2">
                <s>{{ obProduct.oldPrice }} {{ obProduct.currency }}</s>
            </span>
            <a href="#" aria-label="Add to cart" class="text-secondary">
                <i class="fa fa-cart-plus"></i>
            </a>
        </div>
    </div>
  </div>
</div>


