.breadcrumb-list {
  background-color: #e9ecef;
}

.breadcrumb-link {
  color: #343a40;
  transition-timing-function: ease-in;
  transition-duration: .2s;
  transition-property: opacity;

  &:hover {
    color: #343a40;
    text-decoration: none;
    opacity: .75;
  }
}
