{# @var obPromoBlock \Lovata\Shopaholic\Classes\Item\PromoBlockItem #}

<div class="mb-4">
  <div class="product-card card shadow" data-id="{{ obPromoBlock.id }}">
    <a class="product-card__link product-card__link_img" href="{{ obPromoBlock.getPageUrl('promo-block-page') }}">
        {% if obPromoBlock.preview_image is not empty %}
            <img class="product-card__img card-img-top" src="{{ obPromoBlock.preview_image.getThumb(500, 500, {'quality': 80}) }}" alt="{{ obPromoBlock.preview_image.description }}" title="{{ obPromoBlock.preview_image.title }}">
        {% else %}
            <img class="product-card__img card-img-top" src="{{ 'assets/images/no-image.png'|theme }}">
        {% endif %}
    </a>
    <div class="card-body product-card__body">
        <h3 class="card-title product-card__category-title mb-2">{{ obPromoBlock.date_begin.format('j l Y') }}</h3>
        <a class="product-card__link" href="{{ obPromoBlock.getPageUrl('promo-block-page') }}">
            <h3 class="card-title product-card__title text-dark font-weight-bold">{{ obPromoBlock.name }}</h3>
        </a>
    </div>
  </div>
</div>


