<section class="row form">
    <form class="col-12 col-lg-8 needs-validation _ajax_create_order" novalidate>
        <div class="row">
            <div class="col-sm-6 mb-3">
                <input type="text" class="form-control" name="name" placeholder="First name" required>
                <div class="invalid-feedback">
                    Please add your name
                </div>
            </div>
            <div class="col-sm-6 mb-3">
                <input type="text" class="form-control" name="last_name" placeholder="Last name" required>
                <div class="invalid-feedback">
                    Please add your last name
                </div>
            </div>
        </div>
        <div class="form-group mb-3">
            <label class="sr-only" for="inlineFormInputGroup">Email</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">@</div>
                </div>
                <input type="text" class="form-control" id="inlineFormInputGroup" name="email" placeholder="Email" required>
                <div class="invalid-feedback">
                    Please add your email
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="inputAddress">Address</label>
            <input type="text" class="form-control" id="inputAddress" name="address1" placeholder="1234 Main St" required>
            <div class="invalid-feedback">
                Please add your address
            </div>
        </div>
        <div class="form-group">
            <label for="inputAddress2">Address 2 (optional)</label>
            <input type="text" class="form-control" id="inputAddress2" name="address2" placeholder="Apartment or suite">
        </div>

        {% if location_is_available %}
        <div class="form-row _ajax_location_select_wrapper">
            {% partial 'form/locataion-select/locataion-select' %}
        </div>
        {% endif %}
        <hr>

        {% set obShippingTypeList = ShippingTypeList.make().sort().active() %}
        {% if obShippingTypeList.isNotEmpty() %}
            <fieldset class="form-group">
                <div class="row">
                    <div class="col-12">
                        {% for obShippingType in obShippingTypeList %}
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="shipping_type_id" id="sipping-type-{{ obShippingType.id }}" value="{{ obShippingType.id }}" required {% if loop.first %}checked{% endif %}>
                            <label class="form-check-label" for="sipping-type-{{ obShippingType.id }}">
                                {{ obShippingType.name }} - {{ obShippingType.price }} {{ obShippingType.currency }}
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </fieldset>
            <hr>
        {% endif %}
        {% set obPaymentMethodList = PaymentMethodList.make().sort().active() %}
        {% if obPaymentMethodList.isNotEmpty() %}
            <fieldset class="form-group">
                <div class="row">
                    <div class="col-12">
                        {% for obPaymentMethod in obPaymentMethodList %}
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="payment_method_id" id="payment-method-{{ obPaymentMethod.id }}" value="{{ obPaymentMethod.id }}" required {% if loop.first %}checked{% endif %}>
                                <label class="form-check-label" for="payment-method-{{ obPaymentMethod.id }}">
                                    {{ obPaymentMethod.name }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </fieldset>
        {% endif %}
        <div class="form-group">
            <button type="submit" class="btn btn-dark w-100 text-uppercase _create_order_button" data-container="body" data-toggle="popover" data-placement="top" data-content="">continue to checkout</button>
        </div>
    </form>
</section>
