title = "Catalog"
url = "/:main_category/:category?"
layout = "main"
is_hidden = 0

[CategoryPage]
slug = "{{ :category }}"
slug_required = 0
smart_url_check = 1

[CategoryPage MainCategoryPage]
slug = "{{ :main_category }}"
slug_required = 1
smart_url_check = 0

[ProductList]
sorting = "new"

[Pagination]
available_count_per_page = 12
count_per_page = 6
pagination_limit = 5
active_class = "_act"
button_list = "first,prev,main,next,last"
first_button_name = "First"
first_button_limit = 3
first-more_button_name = "..."
first-more_button_limit = 1
prev_button_name = "Prev"
prev_button_limit = 1
prev-more_button_name = "..."
prev-more_button_limit = 1
next-more_button_name = "..."
next-more_button_limit = 1
next_button_name = "Next"
next_button_limit = 1
last-more_button_name = "..."
last-more_button_limit = 1
last_button_name = "Last"
last_button_limit = 3
==
{# @var obCategory \Lovata\Shopaholic\Classes\Item\CategoryItem #}
{# @var obMainCategory \Lovata\Shopaholic\Classes\Item\CategoryItem #}
{# @var obActiveCategory \Lovata\Shopaholic\Classes\Item\CategoryItem #}

{% set obCategory = CategoryPage.get() %}
{% set obMainCategory = MainCategoryPage.get() %}
{% set obActiveCategory = obCategory.isNotEmpty() ? obCategory : obMainCategory %}

{% if obCategory is not empty %}
    {% set arBreadcrumbs = [
        {'name': 'Home', 'url': 'index'|page},
        {'name': obMainCategory.name, 'url': obMainCategory.getPageUrl('catalog')},
        {'name': obCategory.name, 'url': obCategory.getPageUrl('catalog')}
    ] %}
    {% set arSEOParams = {'main_category': obMainCategory, 'category': obCategory} %}
{% else %}
    {% set arBreadcrumbs = [
        {'name': 'Home', 'url': 'index'|page},
        {'name': obMainCategory.name, 'url': obMainCategory.getPageUrl('catalog')}
    ] %}
    {% set arSEOParams = {'main_category': obMainCategory} %}
{% endif %}

{% if seo_toolbox_is_available %}
    {% put seo_tags %}
    {% component 'SeoToolbox' model=obActiveCategory params=arSEOParams %}
    {% endput %}
{% endif %}

{% partial 'content/picture-preview-top/picture-preview-top' obImage=obActiveCategory.preview_image %}
{% partial 'product/catalog-panel/catalog-panel' obMainCategory=obMainCategory obActiveCategory=obCategory label='catalog-product-list' %}
{% partial 'navigation/breadcrumbs/breadcrumbs' arBreadcrumbs=arBreadcrumbs %}
{% partial 'content/text-preview/text-preview' sPreviewText=obActiveCategory.preview_text %}
{% partial 'product/catalog-product-list/catalog-product-list' %}
{% partial 'content/wysiwyg/wysiwyg' sContent=obActiveCategory.description %}