.category-product-column__list {
  padding-left: 0;
}

.category-product-column__list-item {

  @media (min-width: 992px) {
    &:hover {
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
      transition-timing-function: ease-in;
      transition-duration: .2s;
      transition-property: box-shadow;
    }
  }
}

.category-product-column__current-price {
  font-size: .85rem;
}

.category-product-column__old-price {
  font-size: .85rem;
}

.category-product-column__image-wrap {
  position: relative;
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}

.category-product-column__image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
